<div data-role="header" data-position="fixed">
Add item to <%= @list.name %>
<%= form_for(@selection, :class => "ui-filterable", :data => { :ajax => "false" } ) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :list_id, :value => @list.id %>
    <%= f.text_field :item_id, :id => "itemFilter" %>
  </div>
  <div class="actions">
    <%= f.submit("Add item") %>
  </div>
<% end %>
</div>

<div data-role="main">
<ul data-role="listview" data-filter="true" data-input="#itemFilter">
  <% @items.each do |item| %>
  <li><%= link_to selection_name(item), { action: "gcreate", selection: { item_id: item.name, list_id: @list.id } }, { data: { ajax: "false" } } %></li>
  <% end %>
</ul>
</div>
